.header {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding: 10px;
}

.logo {
    text-decoration: none;
}

.links {
    display: flex;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: black;
}

.activeLink {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.button {
    background-color: purple;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
}
